
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <ul class="navbar-nav mx-auto">
            <li class="nav nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/clients">Clientes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/products">Produtos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/requests">Pedidos</a>
            </li>
        </ul>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; 2018 Thiago Prado. Este exemplo utiliza-se de <a href="https://angular.io">
        <i class="fab fa-angular"></i>
        Angular 5</a>, <a href="https://firebase.google.com">Firebase</a>, <a href="https://getbootstrap.com/">Bootstra 4</a>, <a href="https://material.io/icons/">Google Material Icons</a>, <a href="https://fontawesome.com/">
        <i class="fab fa-font-awesome"></i>
        Font Awesome</a> e pode ser encontrado no meu <a href="https://www.github.com/trprado/stock-crud">
            <i class="fab fa-github-alt"></i>
            GitHub</a>.</span>
    </div>
</footer>