<form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
  
  <!-- Generated key -->
  <input 
    type="hidden"
    name="$key"
    #$key="ngModel"
    [(ngModel)]="clientService.selectedClient.$key" >

  <div class="form-group">

    <label for="name">Nome</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="material-icons">person</i>
        </span>
      </div>
      
      <input class="form-control"
        type="text"
        name="name"
        #name="ngModel"
        [(ngModel)]="clientService.selectedClient.name"
        placeholder="Nome Completo"
        required>
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="material-icons">email</i>
        </span>
      </div>
      
      <input class="form-control"
        type="email"
        name="email"
        #name="ngModel"
        [(ngModel)]="clientService.selectedClient.email"
        placeholder="sampe@foo.bar"
        pattern="[a-z0-9._%+-]+@[a-z0-9-]+(\.[a-z]{2,3})+$"
        required>
    </div>
  </div>

  <div class="form-group">
    <label for="fone">Telefone</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">
          <i class="material-icons">phone</i>
        </span>
      </div>
      
      <input class="form-control"
        type="text"
        name="fone"
        #name="ngModel"
        [(ngModel)]="clientService.selectedClient.fone"
        placeholder="(XX)XXXX-XXXX"
        pattern="[\(]\d{2}[\)] \d{4,5}[\-]\d{4}"
        [textMask]="{mask: phone_mask}"
        required>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-default"
        type="submit"
        [disabled]="!clientForm.valid" >
        <i class="material-icons md-primary align-middle">send</i> Enviar
    </button>

    <button class="btn btn-default float-right"
      type="button"
      (click)="resetForm(clientForm)" >
      <i class="material-icons md-danger align-middle">clear</i> Clear
    </button>
  </div>

</form>