<div class="home-head px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Stock Control CRUD</h1>
  <p class="lead">Exemplo de sistema de cadastro utilizando Firebase.</p>
</div>

<div class="container">
  <div class="px-3 py-3 card-deck text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-body">
          <i class="far fa-user fa-8x" style="color:DeepSkyBlue "></i>
          <h4 class="my-0 font-weight-normal">Registro de Cliente</h4>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Cadastrar novo cliente</li>
          <li>Listar clientes</li>
          <li>Modificar informações do cliente</li>
        </ul>
        <a type="button"
          routerLink="/clients"
          class="btn btn-lg btn-block btn-outline-primary">Ir</a>
      </div>
    </div>

    <div class="card mb-4 box-shadow">
      <div class="card-body">
          <i class="fas fa-cubes fa-8x" style="color:Tomato"></i>
          <h4 class="my-0 font-weight-normal">Registro de Produto</h4>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Cadastrar novo produto</li>
          <li>Listar produtos</li>
          <li>Modificar informações do produto</li>
        </ul>
        <a type="button"
            routerLink="/products"
            class="btn btn-lg btn-block btn-outline-primary">Ir</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-body">
          <i class="fas fa-truck fa-8x" style="color:LightGreen"></i>
          <h4 class="my-0 font-weight-normal">Registro de Pedido</h4>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Cadastrar novo pedido</li>
          <li>Listar pedidos</li>
          <li>Modificar informações do pedido</li>
        </ul>
        <a type="button"
          routerLink="/requests"
          class="btn btn-lg btn-block btn-outline-primary">Ir</a>
      </div>
    </div>
  </div>
</div>